.snippets-share-form-container
  = simple_form_for [:share, @snippet], method: :post do |f|
    = f.input :email, hint: 'Emails are separated by comma e.g. john@example.com, jack@example.com'
    = f.submit 'Share this gist', class: 'btn btn-info'
